@media screen and (min-width: 0px) and (max-width: 980px) {
    
    html, body {
        background-image:url(../images/banner-small.jpg);
    }
    
    nav{
        display: none;
    }

    .item-album-linear, .item-about-linear{
        width:100%;
        height:80px;
    }

    .pre.item-about-linear{
        background-color:#f2f2f2;
    }
    
    .post.item-about-linear{
        background-color:#f2f2f2;    
    }
    
    .panel-item-banner{
        color:white;
        width:100%;
        margin:0 auto;
        position:relative;
        background:transparent;
        z-index:10;
    }

    .panel-item-albums{
        margin-top:0rem;
    }

    .item-album-linear{
        display: none;
    }
    
    .preFooter{
        width:100%;
        background-color: #495057;
        height:400px;
        color:white;
    }
    
    .logo-stack{
        line-height:60px;
    }
  
    header{
        height:60px;
        line-height:60px;
    }
    
    .postFooter{
        width:calc(100% - 4em);
        height:fit-content;
        text-align: center;
        padding:2rem;
    }

    header .menu-title{
        height: 60px;
    }


    header .icons-pane{
        line-height: 60px;
    }

    .title-item-content{
        left:0rem;
    }
    
    .group-parameters-portfolio{
        margin:0 auto;
    }
    
    .title-item-content{
        padding-bottom:4rem;
        text-align: center;
        margin:0 auto;
    }
    
    .item-parameter:hover .popup-info.all, .item-parameter:hover .popup-info.bike, .item-parameter:hover .popup-info.nature, .item-parameter:hover .popup-info.city{
        display:none;
    }

    .progressContainer{
        display: none;
    }
    
    .contact-modal{
        position: fixed;
        top:60px;
        width:calc(100% - 2rem);
        margin:0 auto;
        left:0;
        height:fit-content;
        background-color: rgb(144, 171, 111, 0.95);
    }
    


    .login-form{
        width:100%;
        text-align: center;
        margin-top:2rem;
    }

    .login-form span{
        display: block;
    }

    .container-form-login input{
        width:calc(100% - 16px);
    }

    .container-form-login button{
        margin-bottom:2rem !important;
    }

}
