@media screen and (min-width: 0px) and (max-width: 980px) {
    
    html, body {
        background-image:url(../images/banner-small.jpg);
    }
    
    .logo-stack{
        line-height:60px;
    }
  
    header{
        height:60px;
        line-height:60px;
    }
    
    .postFooter{
        width:calc(100% - 4em);
        height:fit-content;
        text-align: center;
        padding:2rem;
    }

    header .menu-title{
        height: 60px;
    }


    header .icons-pane{
        line-height: 60px;
    }

    .title-item-content{
        left:0rem;
    }
    
    .group-parameters-portfolio{
        margin:0 auto;
    }
    
    .title-item-content{
        padding-bottom:4rem;
        text-align: center;
        margin:0 auto;
    }
    
    .item-parameter:hover .popup-info.all, .item-parameter:hover .popup-info.bike, .item-parameter:hover .popup-info.nature, .item-parameter:hover .popup-info.city{
        display:none;
    }

    .progressContainer{
        display: none;
    }
    
    .contact-modal{
        position: fixed;
        width:calc(100% - 2rem);
        margin:0 auto;
        left:0;
        height:fit-content;
        background-color: rgb(144, 171, 111, 0.95);
    }
    


    .login-form{
        font-size:0.95rem;
        color:white;
        line-height:normal;
        width:100%;
        text-align: center;
        margin-top:2rem;
    }

    .login-form span{
        padding-bottom:0.5rem;
        display: block;
        font-size:1rem;
    }

    .container-form-login input{
        border:0px;
        padding:8px;
        color:#000;
        background-color: white;
        margin: 0 auto !important;
        margin-top:1.2rem !important;
        width:calc(100% - 16px);
    }
    .container-form-login textarea {
        width:calc(100% - 16px);
        height:5rem;
        border:0px !important;
        padding:8px !important;
        margin-top:1.2rem !important;
    }
    .container-form-login button{
        border:0px !important;
        padding:8px !important;
        color:#B5C79F;
        background-color: #495057;
        font-size:0.75rem;
        margin: 0 auto !important;
        margin-top:1.2rem !important;
        text-decoration: none !important;
        display: inline-block !important;
        margin-bottom:2rem !important;
    }
    button, input[type="submit"] {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        width:100%;
    }

}
