@media screen and (min-width: 981px) and (max-width: 1249px) {    
    html, body {
        background-image:url(../images/banner.jpg);
        background-attachment: fixed;
    }
    .logo-stack{
        line-height:100px;
    }
    
    .logo-stack span{
        line-height:1.2rem;
        display:inline-block;
        font-family:'Savoye';
        font-size:2em;
    }
    
    header{
        position:fixed;
        height:100px;
        width:100%;
        line-height:100px;
        vertical-align:middle;
        z-index: 100;
        color:#222222;
        opacity:0.98;
        box-shadow: 0px 3px 10px 2px rgba(0,0,0,.2);
    }
    
    
    
    
    
    
    
    
    
    
    
    .postFooter{
        width:calc(100% - 4em);
        background-color:#343a40;
        height:60px;
        color:white;
        line-height:60px;
        padding-left:2em;
        padding-right:2em;
        box-shadow: 0 20px 20px -10px rgba(49,52,57,.3),0 20px 30px rgba(0,0,0,.08);
    }

    
    header .menu-title{
        text-align: left;
        font-size:1.2rem;
        vertical-align:middle;
        height: 100px;
        text-indent: 4rem;
    }
    
    header .icons-pane{
        margin-right:2rem;
        font-size:1.2rem;
        vertical-align:middle;
        line-height: 100px;
    }
    
    
    
    
    
    
    
    
    .title-item-content{
        width:fit-content;
        padding-bottom:3rem;
        left:12rem;
        position: relative;
        text-align: right;
        font-size:4rem;
        color:white;
        line-height:4rem;
        font-family: "Savoye";
    }
    
    
    
    .member{
        background-color:white;
        width: calc(50% - 2.6em);
        margin:0 auto !important;
        text-align:center;
        margin-right:1.3em;
        margin-left:1.3em;
        padding-top:2em;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, .3);
        -webkit-transition: box-shadow 0.5s ease-in-out;
       -moz-transition: box-shadow 0.5s ease-in-out;
       -o-transition: box-shadow 0.5s ease-in-out;
       transition: box-shadow 0.5s ease-in-out;
       position:relative;
       padding-bottom:2em;
    }
    .member:hover{
        box-shadow: 0 0 10px 5px #555;
    }
    
    #thomas{
        background-repeat:no-repeat;
        background-size: contain;
        background-position:center;
        width:140px;
        height:140px;
        margin:0 auto;
        border-radius:50%;
        background-color:#f2f2f2;
        margin-bottom:1.5em;
        filter: grayscale(70%);
        -webkit-transition: filter 0.5s ease-in-out;
       -moz-transition: filter 0.5s ease-in-out;
       -o-transition: filter 0.5s ease-in-out;
       transition: filter 0.5s ease-in-out;
    }
    .member:hover #thomas{
        filter: grayscale(0);
    }
    #thomas{
        background-image:url('../images/photoCV.png');
    }
    
    .member .name{
        font-size:1.3em;
        transition:all 0.5s;
        color:black;
    }
    .member:hover .name{
        color:#75964B;
    }
    
    .member .social{
        margin-top:1.5em;
    }
    
    
    .progressContainer{
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 5px;
        background: transparent;
        z-index: 100;
      }
      .progress{
        height: 5px;
        background: rgb(97, 129, 56);
        width: 0;
        transition: width 0.1s;
      }
      
    
    
    
    
    
    .row-group-portfolio{
        display: flex;
        justify-content: space-between;
    }
    .group-parameters-portfolio{
        width:fit-content;
        padding-bottom:3rem;
        right:12rem;
        position: relative;
        text-align: right;
        font-size:4rem;
        line-height:4rem;
        color:white;
        vertical-align:middle;
        font-size:1rem;
        display:flex;
    }
    
    .title-item-content{
        width:fit-content;
        padding-bottom:3rem;
        left:12rem;
        position: relative;
        text-align: right;
        font-size:4rem;
        color:white;
        line-height:4rem;
    }
    
    
    
    
    
    
    
    
   
    
    
    
    
    
    
    
    .contact-modal{
        display: none;
        position: absolute;
        background-color: rgb(144, 171, 111, 0.9);
        right:1rem;
        top:calc(90px + 1rem);
        padding:1rem !important;
        box-shadow: 0px 3px 10px 2px rgba(0,0,0,.3);
    }
    
    .contact-modal::after {
        content: "";
        position: absolute;
        top: -30px;
        right: 1.1rem;
        margin-left: -15px;
        border-width: 15px;
        border-style: solid;
        border-color: transparent transparent rgb(144, 171, 111, 0.9) transparent;
    }

    .login-form{
        font-size:0.95rem;
        color:white;
        line-height:normal;
    }

    .login-form span{
        padding-bottom:0.5rem;
        display: inline-block;
        font-size:1rem;
    }

    .container-form-login input{
        border:0px;
        padding:8px;
        color:#000;
        background-color: white;
        margin: 0 auto !important;
        margin-top:0.5rem !important;
        width:20rem;
    }
    .container-form-login textarea {
        width:calc(100% - 16px);
        height:5rem;
        border:0px !important;
        padding:8px !important;
        margin-top:0.5rem !important;
    }
    .container-form-login button{
        border:0px !important;
        padding:8px !important;
        color:#B5C79F;
        background-color: #495057;
        font-size:0.75rem;
        margin: 0 auto !important;
        margin-top:0.6rem !important;
        text-decoration: none !important;
        display: inline-block !important;
    }
    button, input[type="submit"] {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }
}
